


body{
    background-color:  #ffe;
    border-style: solid;
    margin: 25px 50px;
  
}

h2{
    color:#887;
    margin: 2 2;
}
h1{
    text-align: center;
}

a {
    color:#900;
}


img {
    width:500 px;
    border: 3px solid black;
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
    
}
.marg{
    margin: 7;
    font-family: 'Times New Roman';
}
p{
    margin: 5;
}

#col{
    color: #654321;
    text-align: center;
}
